.ArrowWrapper
{
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.Nav-Image
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Nav-Image-Container
{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 100%;
}

.Nav-Image-Item-Container
{
  position: relative;
  height: 100%;
}

.Nav-Image-Link
{
  height: 100%;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.Nav-Image-Link .Nav-Image-Label
{
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);;
  opacity: 0;

  size: 5vmin;
  width: 100%;
  padding: 1.5vmin 0;
  text-align: center;
  color: white;
  pointer-events: none;
}

.Nav-Image:hover + .Nav-Image-Label
{
  opacity: 1;
}

.LeftArrow
{
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  pointer-events: none;
}

.RightArrow
{
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}