.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #282c34;
}

.App-header {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  text-shadow: 2px 2px 0px #242424;
  color: white;
  width: 60%;
  margin: 2em auto 1em;
}

.App-body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: white;
  width: 60%;
  margin: 0px auto;
  padding-top: 1em;
}

.Entry
{
  margin: 0px auto;
  padding-top: 1em;
}

.Nav-Image-Container
{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 14em;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.Nav-Image-Item
{
  position: relative;
  height: 100%;
  flex: 0 0 auto;
}

.Nav-Image
{
  height: inherit;
}

.Nav-Image-Item .Nav-Image-Label
{
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);;
  opacity: 0;

  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  color: white;
}

.Nav-Image-Item:hover .Nav-Image-Label
{
  opacity: 1;
}

ul
{
  list-style-type: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 1.2em;
  padding: 0;
  margin: 1em 0em;
}

li
{
  display: inline; 
}

li a {
  color: white;
  text-align: center;
  padding: 0em 1em;
  text-decoration: none;
}

li a:hover {
  color: #909090
}

p
{
  margin: 0px;
}

h2, h3
{
  font-weight: normal;
}

@media screen and (max-width: 780px) {
  .App-body
  {
    background-color: white;
  }
}