.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.App-header {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 60%;
  margin: 4em, auto;
  color: white;
}

.App-body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  width: 60%;
  min-height: 100vh;
  margin: 0px, auto;
  color: white;
}

.App-link {
  color: #61dafb;
}

ul
{
  list-style-type: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 1.2em;
  padding: 0;
  margin: 1em 0em;
}

li
{
  display: inline; 
}

li a {
  color: white;
  text-align: center;
  padding: 0em 1em;
  text-decoration: none;
}

li a:hover {
  color: #909090
}

p
{
  margin: 0px;
}