@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather&display=swap'); /*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

html, body {
  height: 100%;
  min-height: -webkit-fill-available;
  width:100vw;
  overflow-x:hidden;
  background-color: #333;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
